* {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  display: flex;
  align-items: center;
  padding: 25px;
  box-shadow: 0 1px 0 0 #E9ECEF;
}

header.main-page {
  justify-content: space-between;
}

footer {
  width: 100%;
  justify-content: center;
  box-shadow: 0 -1px 0 0 #E9ECEF;
}

.footer-to-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: 860px;
  padding: 30px 0;
}

.container .row {
  margin: 0 0 30px 0;
}

.container .row h4 {
  margin: 0;
}

.container .row.space-between {
  justify-content: space-between;
}

.container .row.auto > .row-col {
  width: 47.5%;
}

.container .row.auto.gutters > .row-col:first-of-type {
  margin-right: 5%;
}

.col.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col.centered h4 {
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #E9ECEF;
  border-radius: 100px;
}

.icon-container:hover {
  cursor: pointer;
}

.labeled-input label {
  font-weight: bold;
}

.labeled-input input {
  transition: 0.2s;
  border: 2px solid #E9ECEF;
  border-radius: 4px;
}

.labeled-input input:focus {
  outline: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #007DFF;
}

.labeled-input.time > input {
  padding: 2px 0;
  text-align: center;
}

.input-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.input-date .labeled-input.date {
  position: relative;
  width: 65%;
  margin-right: 5%;
}

.input-date .labeled-input.date img {
  position: absolute;
  transition: 0.2s;
  right: 15px;
  bottom: 15px;
  opacity: 0.4;
}

.input-date .labeled-input.time {
  width: 20%;
}

.input-date .labeled-input.time:first-of-type {
  margin-right: 5%;
}

.input-date span {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 2.5% 0 2.5%;
}

.input-dropdown {
  width: 100%;
  max-height: 150px;
  margin-top: -0.5px;
  box-shadow: 0px 6px 10px  #E9ECEF, 4px 4px 10px  #E9ECEF, -4px 6px 10px  #E9ECEF;
  border-radius: 4px;
  overflow-y: scroll;
}

.input-dropdown ul.people {
  margin: 0;
  list-style-type: none;
}

.input-dropdown ul.people li.person {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
}

.input-dropdown ul.people li.person img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid #E9ECEF;
  margin-right: 10px;
}

.input-dropdown ul.people li.person span.floor, .input-dropdown ul.people li.person span.dot {
  font-weight: normal;
  margin-left: 5px;
  color: #ccc;
  vertical-align: middle;
}

.input-dropdown ul.people li.person span.dot, .input-dropdown ul.people li.person span.name {
  color: black;
}

.input-dropdown ul.people li.person:hover, .input-dropdown ul.people li.person.suitable {
  background: #F6F7F9;
}

.input-dropdown ul.people li.person:hover span, .input-dropdown ul.people li.person.suitable span {
  font-weight: bold;
}

.invited-people {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.invited-people .invited-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  background: #E9ECEF;
  border-radius: 16px;
  padding: 0;
  margin: 0 8px 8px 0;
}

.invited-people .invited-person .person-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
}

.invited-people .invited-person .person-wrapper img.avatar {
  background: gray;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-right: 10px;
}

.invited-people .invited-person img.icon {
  width: 9px;
  margin-right: 12px;
}

.invited-people .invited-person img.icon:hover {
  cursor: pointer;
}

.labeled-room label {
  font-weight: bold;
}

.labeled-room .room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 36px;
  border-radius: 4px;
}

.labeled-room .room .info > span {
  font-size: 14px;
  color: white;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.labeled-room .room .info > .time {
  font-weight: bold;
  margin-right: 15px;
}

.labeled-room .room img {
  margin-right: 4px;
}

.labeled-room .room:hover {
  cursor: pointer;
}

.labeled-room.active .room:hover {
  cursor: default;
}

.labeled-room.active .room > img:hover {
  cursor: pointer;
}

.labeled-room.list > .room {
  background: #E9ECEF;
  margin-bottom: 10px;
}

.labeled-room.list > .room span {
  color: black;
}

.labeled-room.active > .room {
  background: #007DFF;
}

button.button {
  transition: 0.2s;
  height: 25px !important;
  padding: 0px 20px !important;
  border-radius: 4px !important;
  background: #E9ECEF;
  color: black;
  margin: 0 20px 0 0;
  font-size: 14px;
}

button.button:last-of-type {
  margin-right: 0;
}

button.button.blue {
  background: #007DFF;
  color: white;
}

button.button:hover {
  background: #0059FF;
}

button.button:active {
  background: #0B00FF;
}

button.button:disabled {
  background: #E9ECEF;
  color: rgba(0, 0, 0, 0.2);
}

a.button-wrapper {
  margin: 0 0 0 20px;
}

a.button-wrapper + button {
  margin: 0 0 0 20px;
}

a.button-wrapper:first-of-type {
  margin: 0;
}

.modal.open {
  width: 400px !important;
}

.modal-body > .row.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-body > .row.centered img {
  width: 42px;
  height: 42px;
}

main.main-page {
  display: flex;
  flex-flow: row nowrap;
}

.left-bar {
  position: relative;
  width: 305px;
  transition: 0.3s;
}

.left-bar .date {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 25px;
  width: 100%;
  box-shadow: 0 1px 0 0 #E9ECEF;
}

.left-bar .date > .icon-container:first-of-type {
  margin-right: 20px;
}

.left-bar .date > h5 {
  margin: 0 20px 0 0;
}

.left-bar .date > h5:hover {
  cursor: pointer;
}

.left-bar .floor-container {
  border-right: 1px solid #E9ECEF;
  padding: 30px 25px 0 25px;
}

.left-bar .floor-container .floor-num {
  font-size: 12px;
  text-transform: uppercase;
  color: #858E98;
}

.left-bar .floor-container ul.rooms {
  margin: 0;
  list-style-type: none;
}

.left-bar .floor-container ul.rooms li.room {
  padding: 8px 0;
  line-height: 20px;
}

.left-bar .floor-container ul.rooms li.room .title {
  font-size: 16px;
  font-weight: bold;
}

.left-bar .floor-container ul.rooms li.room .capacity {
  font-size: 14px;
  font-weight: normal;
}

.left-bar .floor-container ul.rooms li.room.disabled > span {
  color: #858E98;
}

.left-bar .floor-container ul.rooms li.room.active > .title {
  color: #0070E0;
}

.calendar {
  position: absolute;
  left: 25px;
  top: 50px;
  width: 605px;
  height: 230px;
  background: white;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  z-index: 7000;
}

.calendar.editor {
  top: 70px;
  left: 0;
  width: 250px;
  height: 200px;
}

.calendar.editor .month:first-of-type {
  transform: scale(0.9) !important;
}

.calendar .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9ECEF;
  width: 100%;
  height: 100%;
}

.calendar .wrapper .month {
  text-align: center;
  margin-right: 30px;
  transform: scale(0.9);
}

.calendar .wrapper .month:first-of-type, .calendar .wrapper .month:last-of-type {
  transform: scale(0.8);
}

.calendar .wrapper .month:last-of-type {
  margin: 0;
}

.calendar .wrapper .month .month-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar .wrapper .month table {
  margin: 0;
}

.calendar .wrapper .month table td {
  padding: 2px 4px;
  border: none;
}

.calendar .wrapper .month table td:hover {
  cursor: pointer;
}

.calendar .wrapper .month table td.today {
  background: #98A9B9;
  font-weight: bold;
  color: white;
  border-radius: 4px;
}

.right-bar {
  overflow-x: scroll;
  width: calc(100% - 305px);
}

.right-bar .timeline {
  display: flex;
  align-items: center;
  width: 100%;
}

.right-bar .timeline .time-area {
  flex: 0 0 60px;
  white-space: nowrap;
}

.right-bar .timeline .time-area:first-of-type {
  margin-left: -25px;
}

.right-bar .timeline .time-area.current {
  position: relative;
}

.right-bar .timeline .time-area.current .timing {
  position: relative;
}

.right-bar .timeline .time-area.current .timing > .hours {
  position: absolute;
  right: 0;
}

.right-bar .timeline .time-area.current .timing > span:last-of-type {
  display: block;
  padding: 0 10px;
  border-radius: 100px;
  color: white;
  background: #007DFF;
  z-index: 5000;
}

.right-bar .timeline .time-area .floors {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  background: #F6F7F9;
  border-right: 1px solid rgba(19, 100, 205, 0.1);
}

.right-bar .timeline .time-area .timing {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0;
  height: 50px;
  box-shadow: 0 1px 0 0 #E9ECEF;
  border-top: 1px solid #E9ECEF;
  background: white;
}

.right-bar .timeline .time-area .timing > span {
  margin-right: -4px;
  font-weight: bold;
  font-size: 10px;
  color: #858E98;
  z-index: 1000;
}

.right-bar .timeline .time-area .timing + .floors .floor:first-of-type .room:first-of-type {
  margin-top: 65px;
}

.right-bar .timeline .time-area .floor {
  position: relative;
  margin-bottom: 72px;
  background: #F6F7F9;
}

.right-bar .timeline .time-area .floor span.floor-num {
  display: none;
  position: absolute;
  left: 10px;
  top: -25px;
  z-index: 5000;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #858E98;
}

.right-bar .timeline .time-area .floor:first-of-type > span.floor-num {
  top: 20px;
}

.right-bar .timeline .time-area .rows {
  width: 100%;
}

.right-bar .timeline .time-area .rows .room {
  position: relative;
  height: 35px;
  background: #D5DFE9;
  margin-bottom: 22px;
  transition: 0.2s;
}

.right-bar .timeline .time-area .rows .room:last-of-type {
  margin-bottom: 0;
}

.right-bar .timeline .time-area .rows .room > a button {
  transition: 0.2s;
  width: 100%;
  min-height: 35px;
  padding: 0;
  background: white !important;
  border: none;
  border-radius: 0;
}

.right-bar .timeline .time-area .rows .room:hover > a button {
  cursor: pointer;
  background: #1D54FE;
  border-radius: 2px;
}

.right-bar .timeline .time-area .rows .room:hover > a button:active {
  background: #1D00FE;
}

.right-bar .timeline .time-area .rows .room > .scrolled-tag {
  display: none;
  position: absolute;
  border-radius: 4px;
  background: white;
  padding: 5px 8px;
  z-index: 5900;
  left: 10px;
  top: 0;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
}

.right-bar .timeline .time-area .rows .room.active {
  background: #99A9B9;
}

.tooltip {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 6000;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  height: 120px;
  width: 340px;
  padding: 8px 16px;
}

.tooltip .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip .header .title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
}

.tooltip .header .icon-container {
  width: 24px;
  height: 24px;
}

.tooltip .header .icon-container img {
  width: 10px;
  height: 10px;
}

.tooltip .time {
  margin-top: 2px;
}

.tooltip .time span {
  font-size: 14px;
}

.tooltip .time span.dot {
  margin: 0 5px;
}

.tooltip .participants {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.tooltip .participants .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #E9ECEF;
  margin-right: 5px;
}

.tooltip .participants span {
  font-weight: normal;
  font-size: 14px;
  margin-right: 5px;
}

.tooltip .participants span.left {
  color: gray;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: -5px;
  left: calc(50% - 5px);
  background: white;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
}

#modal-overlay {
  z-index: 50000;
  background: rgba(0, 16, 33, 0.4);
}

#created-meeting, .modal-box {
  z-index: 70000;
}

#created-meeting .modal-body h4 {
  margin-bottom: 16px;
}

.row-col.delete {
  padding: 0 !important;
}

.row-col.delete .delete-button {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  color: #FF3333;
  transition: 0.3s;
}

.row-col.delete .delete-button:hover {
  background: white;
  color: #FF3333;
}

.row-col.delete .delete-button:active, .row-col.delete .delete-button:focus {
  background: #FF3333;
  color: white;
}

a {
  text-decoration: none !important;
}
/*# sourceMappingURL=style.css.map */